<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vex.muzhi.community.mapper.QuestionMapper">

    <!--插入新问题-->
    <insert id="insert" parameterType="Question">
        insert into
        question(title,description,gmt_create,gmt_modified,creator,tag)
        values(#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{tag})
    </insert>

    <!--问题列表(分页)-->
    <select id="findQuestionList" resultType="Question">
        select * from question limit #{offset},#{size}
    </select>

    <!--问题总数-->
    <select id="count" resultType="Integer">
        select count(1) from question
    </select>
</mapper>