<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vex.muzhi.community.mapper.UserMapper">

    <!--插入用户信息-->
    <insert id="insert" parameterType="User">
        insert into
        user(name,account_id,bio,token,gmt_create,gmt_modified,avatar_url)
        values(#{name},#{accountId},#{bio},#{token},#{gmtCreate},#{gmtModified},#{avatarUrl})
    </insert>

    <!--根据token检索用户信息-->
    <select id="findByToken" parameterType="String" resultType="User">
        select * from user where token = #{token}
    </select>

    <!--根据id检索用户信息-->
    <select id="findById" parameterType="Integer" resultType="User">
        select * from user where id = #{id}
    </select>
</mapper>